<nav class="navbar">
  <ul class="navlist">
    <li><a href="/games">Games</a></li>
    <li><a href="/genres">Genres</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/games/add">New Game</a></li>
    <li><a href="/genres/add">New Genre</a></li>
  </ul>
</nav>
