.genres-main {
  padding: 50px;
}

.genres-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  list-style-type: none;
}

.genres-list a {
  text-decoration: none;
  color: black;
}

.genres-list img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 8px;
  object-fit: cover;
}

.genre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genres-title {
  margin-bottom: 20px;
  text-align: center;
}

.add-genres {
  text-align: center;
  font-size: 1.5rem;
}
